{% extends './base.html' %}

{% block title %}
首页_wildpigger个人博客
{% endblock %}
{% block meta %}
<meta name="keywords" content="个人博客,wildpigger个人博客,个人博客模板,杨青" />
<meta name="description" content="wildpigger个人博客，是一个站在web前端设计之路的男程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}


{% block header %}
  <header class="header-navigation" id="header">
    <nav><div class="logo"><a href="/">wildpigger个人博客</a></div>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        <li><a href="/myapp/index/">网站首页</a></li>
        <li><a href="/myapp/share/">我的相册</a></li>
        <li><a href="/myapp/list/">我的日记</a></li>
        <li><a href="/myapp/about/">关于我</a></li>
        <li><a href="/myapp/gbook/">留言</a></li>
        <li><a href="/myapp/info/">内容页</a></li>
        <li><a href="/myapp/infopic/">内容页</a></li>
      </ul>
  </nav>
  </header>
{% endblock %}


